<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>20/04/23 22:42:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;S235_Create_Account.setUp()[pri:0, instance:com.testcases.S235_Create_Account@ae45eb6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/04/23 22:42:45</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="S235_Create_Account.createAccountTestCase()[pri:0, instance:com.testcases.S235_Create_Account@ae45eb6]">createAccountTestCase</td> 
  <td>main@701141022</td>   <td></td> </tr>
</table>
